<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="bar-chart-outline"></ion-icon>">
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lider">
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label>Lider</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="projeto">
            <ion-icon name="terminal-outline"></ion-icon>
            <ion-label>Projeto</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ordem-servico">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            <ion-label>Ordem Serviço</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ordem-servico-novo">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            <ion-label>Ordem</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="login">
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-label>Login</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>