<app-header wrap="hard" title="Cadastro de Projetos"></app-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nome:</ion-label>
    <ion-input placeholder="Nome"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Testador:</ion-label>
    <ion-input placeholder="Nome do testador"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Revisor:</ion-label>
    <ion-input placeholder="Nome do revisor"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Gerente:</ion-label>
    <ion-input placeholder="Nome do gerente"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Lider:</ion-label>
    <ion-input placeholder="Nome do lider"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Cliente:</ion-label>
    <ion-input placeholder="Nome do cliente"></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="dark" expand="block" fill="outline" (click)="presentModal()">
    <strong>Salvar</strong>
  </ion-button>
  <ion-button class="ion-padding" color="dark" expand="block" fill="outline">
    <strong>Cancelar</strong>
  </ion-button>

</ion-content>
