<app-header title="Lideres"></app-header>

<ion-searchbar animated placeholder="Pesquisar"></ion-searchbar>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Mosquito Voador
                <div class="acoes">
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="trash-outline"></ion-icon>
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list lines="none">
                <ion-item>
                    <span>Nome: </span> Mosquito voador
                </ion-item>
                <ion-item>
                    <span>Contato: </span> mosquitovoador@basis.com
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <!-- <div class="no-lider" class="align-center">
      <ion-text>
        Nenhum lider cadastrado.
      </ion-text>
    </div> -->

    <ion-button class="ion-padding" color="dark" expand="block" fill="outline" (click)="presentModal()">
        <strong>Adicionar Lider</strong>
    </ion-button>

</ion-content>